*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.parent{
    background-color: blanchedalmond;
    padding: 50px;
    margin:0 auto;
    width:80%;
}
.child{
    background-color: rgba(190, 51, 190, 0.712);
    height: 250px;
    /* width:500px; */
}   
.container{
    background-color: aquamarine;
    color:white;
   
    width:90%;
    /* No Heights  instead use padding in em-> relative units */
    margin:0 auto;
    padding:5em;
}