* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: #23424A;
    color: white;
    
    padding: 50px 50px 150px 50px;


    width: 80%;
    max-width:750px;
    margin: 0 auto;
    
    /* height: 300px; */
}

/* Such a fool that i donot put the Class name right! */
.intro-content{
   /* Wrong Solution use width */
    /* margin:0 auto; */
    width:50%;
}